body {
    font-family: Arial sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: bisque;
}

*,
*:before,
*after {
    box-sizing: border-box;
} /*border-box указывает на то, что размеры элемента будут учитывать границы и отступы, т.е. ширина и высота элемента будут включать размеры границ и отступов, а не добавлять их к ним, как это происходит по умолчанию (значение content-box).*/

p {
    margin: 0 0 5px;
}

.faq {
    max-width: 500px;
    margin: 20px auto; /*отступ сверху и снизу 20 пикселей, слева и справа - авто - по центру получится */
}

.faq_item {
    
    border: 1px solid #b91125; /*красная рамка 1px вокруг всего элемента - вопроса*/
}

.faq_title {
    display: block; /*значит что элемент будет блочный т.к. по умолчанию label - строчный элемент, на всю ширину блока*/
    /*color: #fff; - будет текст белого цвета если написать*/
    padding: 10px 15px; 
    position: relative;
    cursor: pointer; /*при наведении курсора - рука, чтобы понять что можно нажать*/
    transition: background .2s ease-out;
}

.faq_title:after {
    content: "";
    display:block;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: #fff transparent transparent transparent;

    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}

.faq_title:hover {
    background-color: #b91125;
}

.faq_input {
    width: 0;
    height: 0;
    -webkit-appearance: none; /*скрываем стандартную стилизацию у инпут*/
    appearance: none; /*скрываем стандартную стилизацию у инпут*/
    position: absolute; /*убрали отображение области радио кнопки-кружочка*/
}

.faq_input:checked ~ .faq_title {
    background-color: #b91125;
}

.faq_input:checked ~ .faq_title:after {
    border-style: solid;
    border-width: 0 5px 8px 5px;
    border-color: transparent transparent #fff transparent;
}

.faq_input:checked ~ .faq_text { /* ~ - поиск на одном и том же уровне вложенности, + это вложенные */
    display: block; /*эти две строки делают так, что при нажатии на вопрос выпадает ответ на этот вопрос и только один, а другие закрываются*/
}

.faq_text {
    display: none; /*по умолчанию текст ответа на вопрос будет скрыт*/
    padding: 10px 15px;
    font-size: 14px;
    /*color: #fff; - будет текст белого цвета если написать*/
}

